@font-face {
    font-family: SF-Pro-Display;
    src: url(../fonts/SF-Pro-Display.OTF);
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../fonts/SF-Pro-Text.ttf);
}

:root {
    font-family: SF-Pro-Text, sans-serif;
    --level-one: rgb(21, 21, 21);
    --level-two: rgb(30, 30, 30);
    --level-three: rgb(38, 38, 38);
    --highlights: rgb(56, 56, 56);
    --text-colour: rgb(248, 248, 248);
}

* h1,
* h2 {
    font-family: SF-Pro-Display, sans-serif;
}

* button {
    cursor: pointer;
}

* a {
    color: var(--text-colour);
    text-decoration: none;
}

body {
    background-color: var(--level-one);
}

#top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

header>h1,
header>h2 {
    margin: 0.5rem;
    color: var(--text-colour);
}

header>h1 {
    font-size: 4rem;
}

header>h2 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#new-book-button {
    font-size: 0.9rem;
    padding: 0.7rem;
    border-radius: 10px;
    background: var(--highlights);
    color: var(--text-colour);
    border-style: none;
    transition: opacity 0.1s ease-out 0s;
}

#new-book-button:hover {
    opacity: 0.75;
}

main {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 2rem;
    justify-content: space-evenly;
    padding: 2rem;
    width: 90vw;
    margin: 0 auto;
    list-style: none;
}

.book {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
    font-size: 1.2rem;
    padding: 12px;
    background-color: var(--level-two);
    color: var(--text-colour);
    border-radius: 10px;
}

.title {
    font-family: SF-Pro-Display;
    font-size: 1.7rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--text-colour);
    margin-bottom: 0.3rem;
}

.read-button {
    background: none;
    border: none;
    text-align: left;
    font-family: SF-Pro-Text;
    color: var(--text-colour);
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.delete-button {
    order: -1;
    justify-self: flex-start;
    align-self: end;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-colour);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text-colour);
}

#modal>div,
#modal>form {
    margin: 0 auto;
    width: 40%;
    padding: 1em;
}

#modal>div {
    text-align: center;
    background-color: var(--level-three);
}

#book-entry-title {
    border-radius: 0.7em 0.7em 0 0;
}

#book-entry-title>h2 {
    font-size: 1.8rem;
}

#book-entry-form {
    background-color: var(--level-two);
    border-bottom: 1px solid --level-two;
}

#book-entry-form>div:last-child {
    margin-top: 7px;
}

input[type="text"] {
    font: 1em sans-serif;
    width: 240px;
    box-sizing: border-box;
    background: var(--level-two);
    border: 1px solid var(--highlights);
    border-radius: 5px;
    padding: 5px;
    color: var(--text-colour);
}

input:focus {
    outline-color: rgb(57, 103, 143);
}

input::placeholder {
    color: var(--highlights);
}

label>p {
    display: inline-block;
    width: 30%;
    text-align: right;
}

label {
    position: relative;
}

#read-radio-buttons {
    width: 200px;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

#book-entry-button-group {
    border-radius: 0 0 0.7em 0.7em;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#book-entry-button-group>button {
    font-size: 0.9rem;
    width: 120px;
    padding: 0.7rem;
    border-radius: 10px;
    color: var(--level-three);
    border-style: none;
    transition: opacity 0.1s ease-out 0s;
}

#book-entry-button-group>button:hover {
    opacity: 0.75;
}

#close-entry-form {
    background: rgb(237, 106, 94);
}

#create-book-button {
    background: rgb(98, 196, 84)
}

footer {
    width: 100%;
    height: 15px;
    padding: 10px;
    background: var(--level-two);
    color: var(--text-colour);
    text-align: center;
    position: fixed;
    bottom: 0;
    opacity: 0.8;
}

@media (max-width: 871px) {
    #modal>div,
    #modal>form {
        width: 60%;
    }
}

@media (max-width: 756px) {
    #top-bar {
        justify-content: center;
    }
    header {
        justify-content: center;
        margin: 2rem 2rem 0;
    }
}

@media (max-width: 600px) {
    #book-entry-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 60%;
        padding: 1em;
    }
    #book-entry-form>div {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }
    label>p {
        width: auto;
    }
}

@media (max-width: 441px) {
    input[type="text"] {
        width: 200px;
    }
}