body {
    background-image: url("../images/pexels-fwstudio-131667.jpg");
    background-position: center;
    background-size: cover;
}

#top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

header>h1,
header>h2 {
    margin: 0.5rem;
    color: white;
}

header>h1 {
    font-size: 4rem;
}

header>h2 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

nav>button {
    font-size: 0.8rem;
    padding: 0.8rem;
    border-radius: 12px;
    background-image: linear-gradient( burlywood, saddlebrown);
    color: rgba(255, 255, 255, 1);
    border-style: none;
}

main {
    margin: 0 auto;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 3rem;
    justify-content: space-evenly;
    padding: 2rem;
    width: 80vw;
    margin: 0 auto;
    list-style: none;
}

li {
    text-align: center;
    height: 250px;
    font-size: 1.2rem;
    padding: 12px;
    background-color: #444;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

form {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;
}

label span {
    display: inline-block;
    width: 40%;
    text-align: right;
}

label {
    position: relative;
}

input[type="checkbox"] {
    width: auto;
}

@media (max-width: 756px) {
    #top-bar {
        justify-content: center;
    }
    header {
        justify-content: center;
        margin: 2rem 2rem 0;
    }
}

@media (max-width: 578px) {
    label span {
        width: 120px;
    }
}